.center-navbar-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-dark {
    background-color: #008CC4 !important;
}


.vl {
    margin-left: 3px;
    border-left: 1px solid white;
    height: 120px;
}

